HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

*.log
*.class
.DS_Store
*.pid
*.seed
*.swp
*~

application-local.properties
application-local.yml
.env
.env.local

.cursor/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/
